entrypoint = "src/main.py"
run = ["python3", "src/main.py", "task_configs/scaled_attention.yaml", "-o", "./results.yaml", "-sm"]
# run = ["python3", "src/main.py", "task_configs/simple_gemini.yaml", "-o", "./results.yaml", "-sm"]
# run = ["python3", "src/main.py", "task_configs/compute_and_time_optimize.yaml", "-o", "./results.yaml"]
# run = ["python3", "src/main.py", "task_configs/simple_offense.yaml", "-o", "./results.yaml"]


modules = ["python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"